/* Add CSS styling here */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;1,500&display=swap');

/*start of actual styles*/
body{
    margin: 0;
	padding: 0;
    border: 0;
    box-sizing: border-box;
}
h1, h2, h3{
    font-family: 'Rubik', sans-serif;
}
nav .animations{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /*border:1px solid black;*/
    width: 100%;
    background-color:rgb(206, 210, 253, 60%);
}
nav a{
    padding: 2%;
    margin:1% 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-decoration:none;
}
nav a:hover{
    background-color: #7CC3C3;
    color:white;
    border: 1px solid #ABC9D7;
    border-radius: 10px;
    height: 10px;
    padding: 2%;
}
nav a:active{
    color:white;
}

.header-info{
    /*border: 1px solid black;*/
    box-sizing: border-box;
    margin: 0 auto;
    padding: 5%;
    text-align: center;
}
.header-image{
    height: 210px;
    width:200px;
    border-radius: 60%;
}
h1{
    font-size: 60px;
    padding: 2%;
}
.header-text{
    display:flex;
    justify-content: center;
}
.tagline{
    font-size: 25px;
    padding: 5%;
}

/*the start of the body styles*/
section{
    /*border:1px solid black;*/
    box-sizing: border-box;
    padding: 1%;
}
section h2{
    text-align:center;
    font-size:40px;
}
p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

/*Skills Section*/
.skills-section{
    background-color:rgb(206, 210, 253, 60%);
}
.skills{
    display: flex;
    justify-content:space-between;
    text-align:center;
}

.design{
    height: 200px;
    width: 200px;
}
.design:hover{
    text-transform: uppercase;
    color:#739FB8;
}
.code{
    height: 200px;
    width: 200px;
    border-radius: 60%;
}
.skills-header1{
    font-size: 30px;
}
.skills-header:hover{
    text-transform: uppercase;
    color:#739FB8; 
}
.card{
    padding: 4%; 
    background-color:white;
    border-radius: 8px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 10%), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    width: 30%;
    margin: 2% 4%;
    margin-bottom: 10%;
    border: none;
}
.design-skills{
    font-size: 16px;
}
.coding-skills{
    font-size: 16px;
}
.tools li{
    list-style-type: none;
    align-items:center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align:center;
    line-height: 180%;
    margin:0 auto;
}
.design-list li{
    text-align:center;
    margin-right: 10px;
    margin-left: -10px;
}
.tools li:hover{
    font-size: 20px;
    text-transform:uppercase;
    color:#739FB8;
}

/* Gallery Section*/
.projects{
    margin:2%;
}
.projects-btn{
    margin: 2% 0 5% 42.5%;
}
.gallery-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2%;
}
.gallery-img{
    height: 400px;
    width:588px;
    border-radius: 15px;
}
/* animation style taken from:https://thoughtbot.com/blog/css-animation-for-beginners*/
@keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }
  .gallery-animation{
    animation-delay:4s;
    animation-duration: 2s;
    animation-name: bounceIn;
    animation-timing-function: ease-in;
  }
.gallery-2 {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
.gallery-img2{
    height: 60vh;
    width: 90%;
    border-radius: 15px;
    object-fit: cover;
}

/*Footer Section
button styling taken from: https://codepen.io/atloomer/pen/JEaRWX?editors=1100 */
footer {
    padding: 2%;
    margin: 0 auto;
    background-color:rgb(206, 210, 253, 60%);
}
footer p{
    padding: 3%;
    margin-top:1%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align:center;
    font-size: 16px;
}
.footer{
    display: flex;
    justify-content: space-around;
}

button{
    background-color:#7CC3C3;
    border: none;
    border-radius: 60px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
}
button:hover{
    background-color:white;
    border:5px solid #7CC3C3;
    color:#739FB8;
}

