/* Add CSS styling here */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
/*start of actual styles*/
body{
    margin: 0;
	padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow-x:hidden;
    min-height: 200vh;
}
h1, h2, h3{
    font-family: 'Rubik', sans-serif;
}
a{
    text-decoration: none;
}
a:visited{
    color: black;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.8s;
    padding: 40px 100px;
    z-index: 100000;
    background:white ;
  }
  header.sticky {
    padding: 5px 100px;
    /* background: white; */
    /* background: rgb(206, 210, 253, 60%); */
  }
  header .logo {
    position: relative;
    font-weight: 700;
    color:  rgb(206, 210, 253, 100%);
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    transition: 0.6s;
  }
  header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header ul li {
    position: relative;
    list-style: none;
  }
  header ul li a {
    position: relative;
    margin: 0 20px;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
  }


/* Link Hover Effects */
.color-select {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }
  .color-select:before{
      background: rgb(206, 210, 253, 100%);
  }
.select{
    min-width: 100px;
	height: 30px;
    cursor: pointer;
    transition: 500ms;
}
.select:before{
    width: 80px;
	height: 10px;
	content: '';
	position: absolute;
	transform: translateY(10px);
	transition: 500ms;
	z-index: -1;
}
.select:hover:before {
    height: 30px;
	transform: translateY(0px);
}

.select:hover {
	color: white;
}

/* Header Section */
.header-info{
    /*border: 1px solid black;*/
    box-sizing: border-box;
    margin-top: 10%;
    padding: 5%;
    text-align: center;
    width:100%;
}
.header-image{
    height: 20%;
    width:15%;
    border-radius: 60%;
}
h1{
    font-size: 3.75rem;
    padding: 2%;
}
.header-text{
    display:flex;
    justify-content: center;
}
.tagline{
    font-size: 1.5625rem;
    padding: 2%;
    width: 60%;
    margin-left:20%;
    margin-bottom: 2%;
}
/* p.scroll-cta{
    scroll-behavior: smooth;
} */
div.learn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align:center;
}


/*the start of the body styles*/


section{
    /*border:1px solid black;*/
    box-sizing: border-box;
    padding: 1%;
}
section h2{
    text-align:center;
    font-size:40px;
}
p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}


/* About Section */
#about{
    background-color: rgb(206, 210, 253, 60%);
    margin-top: 2%;
    padding: 5%;
}
.about-info h2{
    margin-top: 5%;
    text-align: center;
}
.about-photo{
    width: 30%;
}
.about-text{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 2%;
}
.text-column{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    /* text-align: center; */
    width: 45%;
}
.connect-btn{
    width: 100%;
    margin-left: 65%;
    margin-top: -5%;
}


/*Skills Section*/

.skills{
    display: flex;
    justify-content:space-between;
    text-align:center;
}


/*card images*/
.design{
    height: 35%;
    width: 45%;
    border-radius: 60%;
}
.code{
    height: 35%;
    width: 45%;
    border-radius: 60%;
}


/*card header text*/
.design:hover{
    text-transform: uppercase;
    color:#739FB8;
}
.skills-header1{
    font-size: 1.875rem;
}
.skills-header:hover{
    text-transform: uppercase;
    color:#739FB8; 
}
.card{
    padding: 4%; 
    background-color:white;
    border-radius: 1em;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 10%), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    width: 30%;
    margin: 2% 4%;
    margin-bottom: 10%;
    border: none;
}
.design-skills{
    font-size: 1rem;
}
.coding-skills{
    font-size: 1rem;
}
.tools li{
    list-style-type: none;
    align-items:center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align:center;
    line-height: 180%;
    margin:0 auto;
}
.design-list li{
    text-align:center;
    margin-right: 15%;
}
.tools li:hover{
    font-size: 1.25rem;
    text-transform:uppercase;
    color:#739FB8;
}

/* Button Styles */
.button-container{
    margin-top: 5%;
}
.button{
    background-color:#7CC3C3;
    border: none;
    border-radius: 0.925em;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
}
.button:hover{
    background-color:white;
    border:5px solid #7CC3C3;
    color:#739FB8;
}

.button:visited{
    color: black;
}

/* Gallery Section*/
.projects{
    background-color: rgb(206, 210, 253, 60%);
}
.projects-btn{
    /* margin: 2% 0 5% 42.5%; */
    margin-top: 5%;
}

.top-gallery-index{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* flex-wrap:wrap; */
    width: 100%;
    margin-bottom: 10%;
}
img{
    height: auto;
    width:100%;
    border-radius: 2em;
}
.gallery{
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gallery a{
    text-decoration: none;
}
.img1{
    padding: 2%;
    text-align: center;
    
}
.img2{
    /* padding: 2%; */
    text-align: center;
}
.img3{
    padding: 2%;
    text-align: center;
}
p.description{
   padding-bottom: 2%;
   width: 60%;
   margin-left: 20%;
   text-align: center;
}
p.title{
    text-align: center;
}
/* .project-button{
    padding: 2%;
} */
div.project-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 5%;
}
/*Footer Section
button styling taken from: https://codepen.io/atloomer/pen/JEaRWX?editors=1100 */
/* footer {
    padding: 2%;
    margin: 0 auto;
    background-color:rgb(206, 210, 253, 60%);
    width:100%;
} */
footer{
    margin-bottom: 2%;
}
footer p{
    padding: 3%;
    margin-top:1%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align:center;
    font-size: 1rem;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-left: 10%;
}


/* Media Queries*/
@media (max-width: 800px){
    body{
        margin:0;
        padding:0;
        height:100%;
    }
    .header-info{
        /*border: 1px solid black;*/
        box-sizing: border-box;
        margin: 0 auto;
        padding: 5%;
        text-align: center;
        width:100%;
    }
    
    .header-image{
        height: 20%;
        width:15%;
        border-radius: 60%;
    }
    .design{
        height: 20%;
        width: 40%;
        border-radius: 60%;
    }
    .code{
        height: 20%;
        width: 40%;
        border-radius: 60%;
    }
    .tools li{
        list-style-type: none;
        align-items:center;
        font-family: 'Montserrat', sans-serif;
        font-size: .925rem;
        text-align:center;
        line-height: 180%;
        margin:0 auto;
    }
    .design-list li{
        text-align:center;
        margin-right: 20%;
    }
    .projects-btn{
        margin: 2% 0 5% 36%;
    } 
    .gallery-row{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .gallery-img{
        height: auto;
        width:80vw;
        border-radius: 1em;
    }
    .gallery-img2{
        height: 60vh;
        width: 90%;
        border-radius: 1em;
    }
    footer{
        width: 100%;
        height: 100%;
        margin-bottom: 6.5%;
        box-sizing: border-box;
    }
}
@media (max-width: 500px){
    
    .header-info{
        /*border: 1px solid black;*/
        box-sizing: border-box;
        margin: 0 auto;
        padding: 5%;
        text-align: center;
        width:100%;
    }
    
    .header-image{
        height: 20%;
        width:30%;
        border-radius: 60%;
    }
    .header-text{
        display:flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .header-text,h1{
        font-size: 2.8125rem;
    }
    .design{
        height: 20%;
        width: 90%;
    }
    .code{
        height: 20%;
        width: 90%;
        border-radius: 60%;
    }
    .tools li{
        list-style-type: none;
        font-family: 'Montserrat', sans-serif;
        font-size: .925rem;
        text-align:center;
        line-height: 180%;
        margin-right: 17%;
    }
    .card{
        padding: 4%; 
        background-color:white;
        border-radius: 8px;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 10%), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        width: 30%;
        margin: 2% 4%;
        margin-bottom: 10%;
        text-align: center;
        border: none;
    }
    .projects-btn{
      margin: 0 auto;
      margin-left: 28%;
      margin-bottom: 5%;
    } 
}