a{
    text-decoration: none;
}
.project-heading{
    margin-top: 5%;
    text-align: center;
}
.dev-heading{
    margin-top: 5%;
}
.image-gallery{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.top-gallery{
    display:flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap:wrap; */
    width: 100%;
}
.project-gallery{
    display:flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    width: 100%;
    margin-bottom: 5%;
}
.gallery{
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img{
    height: auto;
    width:30vw;
    border-radius: 2em;
}
.gallery{
    width:30%;
}
.img1{
    padding: 2%;
    text-align: center;
}
.img2{
    padding: 2%;
    text-align: center;
}
.img3{
    padding: 2%;
    text-align: center;
}
.img4{
    padding: 2%;
    text-align: center;
}
.img5{
    padding: 2%;
    text-align: center;
}
.img6{
    padding: 2%;
    text-align: center;
}

/* Individual Project Page */
article{
    margin-bottom: 5%;
}
article.project-post{
    box-sizing: border-box;
    width: 100%;
}
div.project-banner{
    margin-top: 2%;
    width: 100%;
    height: 300px;
    background-image: url("../images/Lambda Mobile Dashboard.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
div.blog-tags{
    text-align: center;
}
.project-text-intro{
    width: 40%;
    margin: 0 auto;
    padding: 2%;
    margin-top: 2%;
    /* margin-bottom: 2%; */
}
.overview{
    font-weight: bold;
    font-size: 1.5rem;
}
.txt1{
    font-weight: bold;
}
.timeline{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 5%;
}
.project-img1{
    margin-left: 25%;
    width: 100%;
}
.mockup-1{
    height: 500px;
    width: 800px;
    object-fit: cover;
}
.caption{
    text-align: center;
    margin-right: 50%;
}
.problem{
    width: 40%;
    margin: 0 auto;
    padding: 2%;
    margin-top: 2%;
    /* margin-bottom: 2%; */
}